.headers {
  display: flex;
  border-bottom: 1px solid black;
  min-height: 50px;
  padding-right: 16px;
  .header {
    display: flex;
    flex: 1;
    min-height: 50px;
    align-items: center;
    padding: 8px;
    font-weight: bold;
  }
}
.rows {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  .row {
    display: flex;
    flex: 1;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    &:nth-child(even) {
      background-color: rgba(255, 0, 0, 0.05);
    }
    .cell {
      flex: 1 1 0px;
      overflow: hidden;
      padding: 8px;
    }
  }
}
