:host {
  display: block;
  height: 100vh;
}
.title {
  text-align: center;
  font-size: 24px;
  color: #d5012d;
}
.domain-filter {
  display: block;
  margin-top: 8px;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
}
