<!--<canvas-->
<!--  baseChart-->
<!--  width="400"-->
<!--  height="400"-->
<!--  [datasets]="chartOptions.lineChartData"-->
<!--  [labels]="chartOptions.lineChartLabels"-->
<!--  [colors]="chartOptions.lineChartColors"-->
<!--  [legend]="chartOptions.lineChartLegend"-->
<!--  [chartType]="chartOptions.lineChartType"-->
<!--  [options]="chartOptions.lineChartOptions"-->
<!--&gt;</canvas>-->
<div class="flex-item">
  <div style="display: block;">
    <canvas baseChart width="400" height="400"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
    </canvas>
  </div>
</div>
